.product-type-swipper {
    width: 100%;
    height: 100%;
}

.product-type-swipper-section{
    height: 70%;
}

.product-type-section {
    margin-top: 4rem;
    height: 530px;
}

.product-type-swipper {
    padding-left: 4rem;
    padding-right: 4rem;
}

.navigation-button-group {
    padding: 10px 4rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em
}

.button-prev {
    cursor: pointer !important;
    padding: 0.6em !important;
    color: white;
    border-radius: 2rem !important;
    background-color: black !important;
}


.button-next {
    cursor: pointer !important;
    padding: 0.6em !important;
    border-radius: 2rem !important;
    background-color: black !important;
    color: white
}

.swiper-button-disabled{
    cursor: not-allowed !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: white !important;
}

.section-swipper-name{
    padding: 10px 4rem;
}